UNICHAIN_SEPOLIA_RPC=
MAINNET_RPC=
TESTNET_RPC_URL=
REACTIVE_LASNA_RPC=
DEPLOYER_PRIVATE_KEY=
ETHERSCAN_API_KEY=
UNICHAIN_ETHERSCAN_API_KEY=

# Unichain deploy
REACTIVE_CONTRACT=
VAULT_ASSET=
VAULT_NAME=
VAULT_SYMBOL=

# Reactive deploy (Lasna)
UNICHAIN_RECEIVER=
UNICHAIN_USDC=
# UNICHAIN_DAI=0x776b6fc2ed15d6bb5fc32e0c89de68683118c62a
# UNICHAIN_USDT=0x588ce4f028d8e7b53b687865d6a67b3a54c75518
UNICHAIN_DAI=
UNICHAIN_USDT=
REACTIVE_ADDRESS=

# InitPool
HOOK=
TOKEN0=
TOKEN1=
# STARTING_PRICE_X96=
# TICK_SPACING=10
# LIQ_TOKEN0=100e18
# LIQ_TOKEN1=100e18

POOL_MANAGER=
POSITION_MANAGER=